header {
    display: flex;
    background-color: $primary-color-header;
    justify-content: center;
    height: 50px;


    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1200px;

        a {
            text-decoration: none;
            color: $text-color;
            margin: 0 10px;
            font-weight: bold;
        }

        .left {
            width: 40%;
            font-weight: bold;
            color: $text-color;
        }


        .logo {
            max-width: 20%;
            filter: drop-shadow(10px 7px 7px #222);
        }

        .icons {
            width: 20px;
            height: 30px;
            fill: $text-color;
            stroke: $text-color;
            display: flex;
        }



    }


}