.container_main {
    display: flex;

    width: 900px;
    margin: auto;
    align-items: center;
    padding: 30px;
}




/* container style products */
.container_products {
    padding: 5px;
    width: 33%;
}

/* style of one product */
.product {
    position: relative;

}

/* style img */
img {
    max-width: 100%;

}

/* style discount  */
.discount {
    position: absolute;
    bottom: 30px;
    background-color: red;
    width: 60px;
    color: $text-color;
    font-size: 12px;
    height: 20px;
    text-align: center;

}

/* style of green tast */
.Sostenibilità {
    background-color: green;
    position: absolute;
    bottom: 30px;
    left: 70px;
    color: $text-color;
    width: 90px;
    text-align: center;
    height: 20px;
    font-size: small;

}

/* add favorites style */
.hearts {
    background-color: $text-color;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
}

/* style text description product */

span {
    font-size: 1rem;


}

.price_now {
    color: red;
    font-weight: bold;
}

.price_before {
    text-decoration-line: line-through;
    margin: 5px;
}

/* style hover first img */

.display_hover {
    display: none;
}

.products:hover .display_none {
    display: none;
}

.product:hover .display_hover {
    display: inline;

}

/* style hover second img */
.display_hover_2 {
    display: none;
}

.products:hover .display_none2 {
    display: none;
}

.product:hover .display_hover_2 {
    display: inline;
}

/* style hover 3 img */
.display_hover_3 {
    display: none;
}

.products:hover .display_none3 {
    display: none;
}

.product:hover .display_hover_3 {
    display: inline;
}

/* style hover 4 img */
.display_hover_4 {
    display: none;
}

.products:hover .display_none4 {
    display: none;
}

.product:hover .display_hover_4 {
    display: inline;
}

/* style hover 5 img */
.display_hover_5 {
    display: none;
}

.products:hover .display_none5 {
    display: none;
}

.product:hover .display_hover_5 {
    display: inline;
}

/* style hover 6 img */
.display_hover_6 {
    display: none;
}

.products:hover .display_none6 {
    display: none;
}

.product:hover .display_hover_6 {
    display: inline;
}

.Sostenibilità_end {

    background-color: green;
    position: absolute;
    bottom: 30px;
    color: $text-color;
    width: 90px;
    text-align: center;
    height: 20px;
    font-size: small;
}